/*
=========
Variables
=========
*/
:root {
    /*Dice variables*/
    --dicesize: 10vh;
    --selected: green;

    /*Color Palette*/
    --font1: black;
    --font2: white;
    --theme1: #010101;
    --theme2: #131313;
    --theme3: #2285EB;
    --theme4: #FFEB32;
    --theme5: #AB47BB;
    --gameover: #E93F33;
}

/*
=============
Global Styles
=============
*/
* {
    margin: 0;
    vertical-align: baseline;
}

main {
    background-color: var(--theme1);
    text-align: center;
}

.navbar {
    height: 5vh;
    color: var(--font2);
    background-color: var(--theme1);
}

.game-area {
    height: 40vh;
    color: var(--font2);
    background-color: var(--theme1);
    align-content: center;
}

.stage {
    margin-top: 2vh;
}
ol {
    width: 50vw;
    text-align: left;
    display: inline-block;
    margin-top: 5vh;
}

li {
    margin-bottom: 10px;
}

.prompt {
    bottom: 0;
}

.num-bank {
    height: 10vh;
    width: 75vw;
    border: 3px solid white;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--font2);
}

.num-list {
    display: inline;
}

.dice-container {
    height: 15vh;
    width: 75vw;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dice {
    display: inline-block;
    height: 15vh;
    width: 15vh;
    background-color: var(--font2);
    border: 5px solid var(--theme1);
    margin:auto;
}

.comm-container {
    height: 5vh;
    color: var(--font2);
}

img {
    height: 15vh;
    width: 15vh;
}

.btn-container {
    height: 15vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.roll-btn {
    height: 8vh;
    width: 25vw;
    color: var(--font2);
    background-color: var(--theme2);
    font-size: xx-large;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    color: var(--font2);
    background-color: var(--theme1);
    font-size: small;
 }