/*
=========
Variables
=========
*/
:root {
    /*Dice variables*/
    --dicesize: 10vh;

    /*Color Palette*/
    --font1: black;
    --font2: white;
    --theme1: #010101;
    --theme2: #131313;
    --theme3: #3e3d3d;
    --theme4: #18B1D1;
    --theme5: #E67E21;
    --theme6: #AB47BB;
    --gameover: #E93F33;
    --win: #39FF14;
}

/*
=============
Global Styles
=============
*/
* {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

main {
    background-color: var(--theme1);
    text-align: center;
}

.navbar {
    height: 5vh;
    color: var(--font2);
    background-color: var(--theme1);
}

.game-area {
    height: 25vh;
    width: 100vw;
    color: var(--font2);
    background-color: var(--theme1);
    margin-bottom: 2vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: background-color 0.2s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.game-area::-webkit-scrollbar {
    display: none;
  }

ol {
    width: 50vw;
    text-align: left;
    display: inline-block;
    margin-top: 2vh;
    list-style: none;
}

li {
    margin-bottom: 10px;
    font-size: medium;
}

.prompt {
    bottom: 0;
}

.num-bank {
    height: 15vh;
    width: 75vw;
    border: 3px solid white;
    margin-bottom: 2vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--font2);
    overflow-x: hidden;
}

.num-list {
    list-style-type: none;
    padding-top: 4vh;
}

.num {
    display:inline-block;
    padding-right: 3vw;
    font-size: 5vh;
}

#n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #n10, #n11, #n12 {
    color: var(--theme3);
    transition: all 0.4s ease 0s;
}

.dice-container {
    height: 15vh;
    width: 75vw;
    margin-bottom: 6vh;
    margin-left: auto;
    transition: all 0.4s ease 0s;
    margin-right: auto;
    text-align: center;
}

.dice {
    display: inline-block;
    height: 15vh;
    width: 15vh;
    background-color: var(--font2);
    border: 5px solid;
    margin:auto;
    transition: all 0.4s ease 0s;
    border-color: var(--theme2);
}

.dice:hover {
    transition: all 0.4s ease 0s;
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 1) !important;
}

.comm-container {
    height: 10vh;
    color: var(--font2);
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.comm {
    padding-top: 2vh;
    font-size: x-large;
}

img {
    height: 15vh;
    width: 15vh;
}

.btn-container {
    height: 17vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.roll-btn {
    height: 8vh;
    width: 33vw;
    color: var(--font2);
    background-color: var(--theme2);
    font-size: xx-large;
    font-family: 'Roboto Slab', serif;
    border-radius: 50px;
    transition: all 0.4s ease 0s;
}

.roll-btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    background-color: var(--theme1);
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    color: var(--font2) !important;
    background-color: var(--theme1);
    font-size: small;
 }

 a {
    color: white;
    text-decoration: none;
 }

 /*Mobile Version*/
 @media (max-width: 800px) {
    .game-area {
        height: 20vh;
        font-size: x-small;
        scroll-snap-align: center;
    }
    ol {
        width: 90vw;
        margin-top: 0;
    }
    li {
        font-size: small;
    }
    .comm-container {
        height: 5vh;
    }

    .comm {
        font-size: small;
        padding-top: 0vh;
    }

    .num-bank {
        margin-bottom: 3vh;
        width: 80vw;
    }
    .num-list {
        padding-left: 10vw;
        padding-right: 8vw;
        padding-top: 0;
        font-size: medium;
    }

    .roll-btn {
        font-size: small;
    }

   .dice-container {
    margin-bottom: 4vh;
   }
  }